<div class="row">
  <div class="col-lg-2"></div>
  <div class="col-lg-10">
   <h2>Editing Book</h2>
   <%= form_with model:@book, url: book_path(@book.id), method: :patch do |f| %>

     <div class="box">
       <% if @book.errors.any? %>
       <%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:
         <ul>
           <% @book.errors.full_messages.each do |message| %>
             <li><%= message %></li>
           <% end %>
         </ul>
       <% end %>

       <p>Title</p>
       <%= f.text_field :title %>

       <p>Opiniton</p>
       <%= f.text_area :opinion %>
     </div>

     <div class="submit-button">
       <%= link_to "Create Book", '/books', class: "btn btn-success" %>
     </div>

     <div class="button">
       <span><%= link_to "Show", book_path(@book.id) %></span>
       <span>|</span>
       <span><%= link_to "Back", '/books' %></span>
     </div>
   <% end %>
  </div>
</div>
